h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
.stats, .bugname{
        font-size: 20pt;
    }
    .closed{
        color : red;
        text-decoration: line-through;
        font-style: italic;
        font-weight: bold;
    }
    section{
        margin-bottom: 10px;
    }
    ol{
        list-style: none;
        width: 500px;
    }
    li{
        border : 1px solid gray;
        background-color: #e7e7e7;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    .datetime{
        font-style: italic;
    }
    .bugname{
        cursor: pointer;
    }